<section>
<hr class="vertical">
<fieldset>
    <legend class="border">Habilidades</legend>
    <ul>
        <div>
            <p>
            <ul>
                <li>marketing Digital 70%</li>
            </ul>
            
            <p>
            <ul>
                <li>Trading 75%</li>
            </ul>
            
            <p>
            <ul>
                <li>Técnico en computadoras 87%</li>
            </ul>
            
            <p>
            <ul>
                <li>Elaborador en páginas web 95%</li>
            </ul>
            
        </div>
    </ul>
</fieldset>
</section>