<section>
<fieldset>
    <legend class="border"> Experiencia Laboral </legend>
    <ul>
        <div>
            <div>
                <p>
                <ul>
                    <li>Elaborador de páginas web</li>
                </ul>
                
                <p>Desarrollo y Software</p>
                <p>01/2019 - 11/2022</p>
            </div>



            <p>
            <ul>
                <li>Especializado en marketing digital y Trading</li>
            </ul>
            
            <p>Conexión Mundial</p>
            <p>04/2018 - 06/2022</p>
        </div>
        <div>
            <p>
            <ul>
                <li>Técnico en armado y desarmado de computadoras</li>
            </ul>
            
            <p>Escuela onlíne</p>
            <p>02/2017 - 12/2018</p>
        </div>
    </ul>
</fieldset>
</section>