
<header>
    <div>
        <div class="container">
            <div class="row">
                <div class="mx-auto"></div>
                <div class="col-md-4 bg-secondary">
                    <app-imagen></app-imagen>
                </div>
                <div class="col-md-8  text-white bg-secondary ">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 d-flex justify-content-center">
                                <app-informacion-personal></app-informacion-personal>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

<div class="col-md-auto">
    <fieldset>
        <app-perfil></app-perfil>
    </fieldset>
    <hr class="vertical">
    <fieldset>
        <app-experiencia-laboral></app-experiencia-laboral>
    </fieldset>
    <hr class="vertical">
    <fieldset>
       <app-habilidades></app-habilidades>
    </fieldset>
    <hr class="vertical">
    <fieldset>
        <app-estudios-academicos></app-estudios-academicos>
    </fieldset>

</div>

<footer>
    <app-contacto></app-contacto>
</footer>
